
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Monsterrat", sans-serif;
}

a {
  text-decoration: none;
}

.home {
  background-image: url("./kaffee-hintergrund.jpg") ;
  background-size: fill;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}





