.counterbutton{
  color: black;
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 20px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
  display: flex;
  height: 45px;
}

.counterbutton:hover{
  padding: 8px 20px;
  border-radius: 20px;
  border: 2px solid li;
  transition: all 0.3s ease-out;
  background-color: wheat;
  color: black;
  }
  

.fa-shopping-cart{
  margin-right: 10px;
  color: black;
  font-size: x-large;
}

.cartCounter{
  background-color: transparent;
  color: white;
  position: relative;
  font-size: 16px;
  bottom: 23px;
  left:2.5px; 
  z-index:2;
}

 
