.checkoutContainer{
    display:grid;
    background-color: rgb(92, 58, 33);
    min-height: 92vh;
}


.checkoutContent{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr  ;
    font-size: small;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    width: 40%;
    grid-auto-rows: 50px;
    grid-template-columns: center;
    margin-left: auto;
    margin-right: auto;  
    background-color: rgb(158, 100, 58);
}


.checkoutInfo{
    max-height: 92vh;
}


.checkoutName{
    display: flex;
    align-self: center;
    justify-content: center;
}


.checkoutPrice{
    display: flex;
    align-self: center;
    justify-content: center;
}


.checkoutCount{
    display: flex;
    align-self: center;
    justify-content: center;
}


.checkoutSum{
    display: flex;
    justify-content: center;
    margin-top:2rem;
    color: white;
}


.checkoutArticle{
    display: flex;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:2rem;
    color: white;
}


.formLayout{
    margin-top: 40px;
    background: rgb(92, 58, 33);
}


::-webkit-input-placeholder{
    color: white
}


input, select, textarea{
    color: white;
}


.formLayout h4{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 2rem;
}


.checkoutFormOne{
    display: flex;
    justify-content: center;
}


.checkoutLayer{
    display:flex;
    justify-content: center;
}


.checkoutFormTwo{
    display: flex;
    justify-content: center;
}


.checkoutFormThree{
    display: flex;
    justify-content: center;
}


.checkoutLayer{
    display: grid;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
}


.moreDetailsButton{
    display: grid;
    grid-template-columns: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: rgb(92, 58, 33);
    outline: 0;
    cursor: pointer;
    background-color: wheat;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 20px;
    
}


.moreDetailsButton:hover{
    background-color: transparent;
    color: wheat;
    border: 1px solid wheat;
    transition: 0.3s;
}



.checkoutSubmitLayout{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    overflow: hidden;
}


.checkoutSubmitButton{
    font-size: medium;;
    border-radius: 5px;
    background-color: wheat;
    border: 1px solid transparent;
    color:  rgb(92, 58, 33);
    cursor: pointer;
    width: 11rem;
}


.checkoutSubmitButton:hover{
    border-radius: 5px;
    background-color: transparent;
    color: wheat;
    border: 1px solid wheat;
    transition: 0.3s;
}