:root {
    --primary: #F5F5DC;
}


.homeTitle {
    max-width: 800px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.homeTitle h1 {
    font-size: 65px;
    color: white;
    font-weight: bold;
    letter-spacing:3px;
    text-shadow: -3px 0  #8B4513, 0 3px  #8B4513, 3px 0  #8B4513, 0 -3px  #8B4513;
}


.homeTitle h2 {
    font-size: 30px;
    color: white;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: -3px 0  #8B4513, 0 3px  #8B4513, 3px 0  #8B4513, 0 -3px  #8B4513;
}

.homeTitle p {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    text-shadow: -3px 0  #8B4513, 0 3px  #8B4513, 3px 0  #8B4513, 0 -3px  #8B4513;
}


.buttonProducts {
    border: white solid 2px;
    background-color: wheat;
    font-size: 18px;
    color: black;
    padding: 10px 50px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}


.buttonProducts:hover{
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: white;
}


.buttonServices {
    border: white solid 2px;
    background-color: wheat;
    font-size: 18px;
    color: black;
    padding: 10px 50px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}


.buttonServices:hover{
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: white;
}