.cardGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    justify-content: center;
}  


.cardBox{
    width: 300px;
    overflow: hidden;
    margin: 30px;
    max-height: 40vh;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    border-radius: 25px;
}


.cardBox:hover{
    transform: scaleX(1.1);
    box-shadow: 0px 0px 15px -5px;
}


.cardImage {
    overflow: hidden;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.cardGrid > div {
    flex-basis: calc(30% - 40px);
}


.cardDescription{
    display: flex;
    justify-content: center;
    border-top: 1px solid #e8e8ee;
    margin: 1rem 2rem;
    margin-top: 0.5rem;
}


.cardName{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 7px;
}


.cardButton{
    background-color: wheat;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
    margin-top: auto;
    outline: none;
}


.fa-shopping-cart{
    color: #8B4513;
    font-size: larger;
}


.cardButton:hover{
    background:blanchedalmond;
    transform: scale(1.1);
}
  

.cardStars{
    color: #FFD700;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 2px;
}


.cardRating{
    margin-left: 6px;
    color: black;
    font-style: italic;
}

