
.cartGrid {
    display: grid;
    grid-template-columns: 2fr ;
    grid-auto-rows: 350px;
    
}


.cartLayout{
    display: flex;
    justify-content: center;
}


.cartBox{
    display: flex;
    justify-content: space-between;
    width: 70%;
    overflow: hidden;
    margin: 30px;
    background-color: white;
    border: 3px solid gray;
    border-radius: 10px;
}


.cartImage {
    height: 300px;
    display: flex;
    align-self: center;
    margin-left: 50px;
}


.cartName{
    display: flex;
    align-self: center;
    font-size: 25px;
    font-weight: lighter;
}


.cartLine{
    display: flex;
    align-self: center;
    font-size: 25px;
    font-weight: lighter;
}


.cartDescription{
    display: flex;
    align-self: center;
    font-size: 25px;
    font-weight: lighter;
}


.cartButton{
    display: flex;
    border: none;
    background-color: white;
    font-size: 3rem;
    align-self: center;
    margin-right: 1rem;
    outline: none;
}


.cartButton:hover{
    transform: scale(0.9);
}


.fa-trash{
    color: #CD5C5C;
}


.fa-trash:hover{
    color: red;
}


.cartHeader{
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
}


.cartArticle{
    display: flex;
    align-self: center;
    grid-auto-rows: 40px;
    margin-left: 13rem;
}

.cartCheckout{
    font-size: 3rem;
    border: none;
    background-color: white;
    align-self: center;
    grid-auto-columns: 40px;
    margin-right: 7rem;
}