
.cartGrid {
    display: grid;
    grid-template-columns: 2fr  ;
    grid-auto-rows: 300px;
    
}


.cartLayout{
    display: flex;
    justify-content: center;
}


.cartBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    width: 70%;
    overflow: hidden;
    margin: 30px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 10px;
}

.cartButtons{
    display: flex;
    align-self: center;
    margin-right: 1rem;
    justify-self: end;
}


.cartImage {
    height: 200px;
    display: flex;
    align-self: center;
    margin-left: 50px;
}


.cartName{
    display: flex;
    align-self: center;
    font-size: 20px;
    font-weight: lighter;
}




.cartDescription{
    display: flex;
    align-self: center;
    font-size: 20px;
    font-weight: lighter;
    justify-self: center;
}


.cartButton{
    display: flex;
    border: none;
    background-color: white;
    font-size: 2.3rem;
    align-self: center;
    margin-right: 1rem;
    outline: none;
}


.cartButton:hover{
    transform: scale(0.9);
}


.fa-trash{
    color: #CD5C5C;
}


.fa-trash:hover{
    color: red;
}


.cartHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cartLine{
    margin: 1rem;
}

.cartSumTop{
    font-size: 20px;
    display: flex;
    align-self: center;
    margin-left: 7rem;
    justify-content: center;
}


.cartArticle{
    font-size: 20px;
    display: flex;
    align-self: center;
    margin-left: 4rem;
    justify-content: center;
}


.cartCheckout {
    border-radius: 15px;
    padding: 0.5rem;
    background-color: white;
    outline: none;
    font-size: larger;
    margin-right: 4rem;
    border-color: black;
}


.cartCheckout:hover{
    border-radius: 5px;
    border-color: transparent;
    background-color: green;
    color: white;
    border-radius: 15px;
    transition: 0.3s;
}

.cartIncrement{
    align-self: center;
    background-color: transparent;
    font-size: 30px;
    width:40px;
    height:40px;
    border-radius: 50%;
    color:black;
    outline:none;
    margin-left: 3rem;
}

.cartIncrement:hover{
    background-color: green;
    transition: 0.2s;
    color: white;
}

.cartDecrement{
    align-self: center;
    background-color: transparent;
    font-size: 30px;
    width:40px;
    height:40px;
    border-radius: 50%;
    color:black;
    outline:none;
    margin-right: 3rem;
}


.cartDecrement:hover{
    background-color: red;
    transition: 0.2s;
    color: white;
}


.cartCount{
    display: grid;
    background-color: white;
    margin: 1rem;
   
    justify-self: center;
    vertical-align: middle;
}


.cartFooter{
    display: flex;
    justify-content:flex-end;
    align-self: center;
}


.cartSum{
    margin-right: 1rem;
    align-self: center;
}
